@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo</h1>
    <p>Project by Jorge <a href="https://linkedin.com/in/jorgelfcardoso/">pagina de cadastro de clientes utilizando ASP.NET Core</a>.</p>
    <p>Ir para a <a href="~/Fornecedores">Lista de Fornecedores</a>.</p>
</div>