@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Jorge Lucas Freitas Cardoso

Esta Política de Privacidade descreve como Jorge Lucas Freitas Cardoso é o desenvolvedor, dono e detentor dos direitos e informações que você fornece ao utilizar nossos serviços. Ao utilizar nossos serviços, você concorda com a coleta e o uso de informações conforme descrito nesta política..</p>